* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


.time-select,
.sound-picker,
.player-container {
	height: 80%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.player-container {
	position: relative;
}

.player-container svg {
	position: absolute;
	height: 50%;
	top: 50%;
	transform: translate(0, -50%) rotate(-90deg);
	pointer-events: none;
}

.time-display {
	position: absolute;
	bottom: 10%;
	color: white;
	font-size: 50px;
}

video {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	overflow: hidden;
}


.time-select button,
.sound-picker button {
	color: white;
	width: 30%;
	height: 10%;
	background: none;
	border: 2px solid white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 20px;
	transition: all 0.5s ease;
}

.time-select button:focus,
.sound-picker button:focus {
	outline: none;
}

.time-select button:hover {
	color: #999999;
	background: white;
}

.sound-picker button {
	border: none;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	padding: 25px;
	transition: all 0.5s ease;
}

.sound-picker button:nth-child(1) {
	background: #4972a1;
}

.sound-picker button:nth-child(1):hover {
	background: #314d6e;
}

.sound-picker button:nth-child(2) {
	background: #b89300;
}

.sound-picker button:nth-child(2):hover {
	background: #856a00;
}

.sound-picker button img {
	height: 100%;
}

.moving-outline circle {
	transition-property: stroke-dashoffset;
	transition: 250ms linear;
}